# === Node.js ===
node_modules/
**/node_modules/
.env
npm-debug.log*
yarn-debug.log*
package-lock.json

# === React ===
build/
dist/
Front-react/build/
Front-react/dist/

# === Editor / sistema ===
.vscode/
.DS_Store
Thumbs.db
